body {
    background-color: #afa516;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
.cabecalho-imagem{
    width: 5%;

}
.cabecalho{

        background-color: #ffffff;
        color: white;
        display:flex;
        justify-content:space-around;
        align-items:center;
        padding: 24px 0;
    }
    .cabecalho-lista-item{
        display:inline-block;
        margin: 0 16px;
        font-size: 24px;
    }
.escola-imagem{
        width: 15%;
}
.escola{
        background-image: linear-gradient(#e5ff00(252, 255, 100),#afa516);
        color: white;
}
.escola{
        background-image: linear-gradient(#afa516,#e5ff00);
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
}
